body{
    font-family: 'Poppins', serif;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.nav_item_curr{  
  font-size: larger;  
  border: 3px solid red;
}

.nav_links li a:visited {
    color: blue;
}

a.skip{
  top:20px;
  color: black;
  text-decoration-style: solid;
}



.gallery{
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 50%;
  display: grid;
  column-gap: 50px;
  row-gap: 50px;
  grid-template-columns: 1fr 1fr;
}

.gallery img{
  width: 100%;
  height: 100%;
}


